{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the F1 App</h1>
    </header>
    <nav class="card">
        <ul>
            <li><a href="/seasons" class="button">Seasons</a></li>
            <li><a href="/circuits" class="button">Circuits</a></li>
        </ul>
    </nav>
</body>
</html>