{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Seasons</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>F1 Seasons</h1>
    <ul>
        {% for season in seasons %}
        <li>
            <a href="{{ season.season }}" target="_blank">Season {{ season.season }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>