{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Seasons</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>F1 Seasons</h1>
    </header>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Season</th>
                    <th>Standings</th>
                    <th>Races</th>
                </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                <tr>
                    <td>
                        <P>Season {{ season.season }}</p>
                    </td>
                    <td>
                        <a href="{{ season.season }}/standings" class="button">Standings</a>
                    </td>
                    <td>
                        <a href="{{ season.season }}/races" class="button">Races</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>